<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../Designer/logo2/logo-04.svg">
    <title>Kevin de Oliveira</title>
  
</head>
<body>
    <section class="one_page flex">
        <section class="left_column">
            <div class="container">
                <object>
                    <embed class="w-150" src="logo.svg" type="image/svg+xml">
                </object>
            </div>
        </section>
        <section class="right_column">
            <div class="container">
                <h1>We are currently under maintenance</h1>
                Come back later
            </div>
        </section>
    </section>
</body>
</html>