<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Testing</title>
    <svg style="display: none;">
        <symbol id="logo" viewBox="0 0 750 750">
            <!-- Properties on css inline possible -->
        <rect x="101.4" y="61.23" width="547.2" height="627.54" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="25"/><path fill="#fff" d="M230.77,491.22l-87.27,80v95.09H123.64V219.78H143.5V547.19L355.35,354h26.48L246.41,479.18,395.67,666.35H370.39Z"/><rect fill="#fff"  x="519.16" y="561.74" width="15.21" height="194.02" transform="translate(1185.52 131.98) rotate(90)"/>
    </symbol>
    </svg>
</head>

<body>
    <section class="one_page flex">
        <div class="left_column">
            <svg class="logo">
                <use href="#logo"></use>
            </svg>
                <button>Test Button</button>
                <br><br>
                <input type="text" name="test" id="" placeholder="Type Here">
                <input type="text" name="test" id="" placeholder="Type Here">
                <br><br>
                
                <input type="search" name="test" id="" placeholder="Search Here">
                <br><br>
                <button class="button_blue">Light Blue Test Button</button>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            <p>
                This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.
            </p>
            <p>
                This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.
            </p>
            <p>
                This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.
            </p>
            <p>
                This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.
            </p>

                       
        </div>
        <div class="right_column center_text">
            <div class="container">
                <button>Test Button</button>
                <br><br>
                <input type="text" name="test" id="" placeholder="Type Here">
                <br>
                <br>
                <button class="button_blue">Light Blue Test Button</button>
                <p>
                    This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.
                </p>
                <object class="w-100">
                    <embed src="../Designer/logo2/logo-05.svg" type="image/svg+xml">
                </object>
                <svg class="logo">
                    <use href="#logo"></use>
                </svg>


                <div class="articles">
                <article>
                    <div class="title">Test</div>
                    <div class="article-content">r</div>
                </article>
                <article>
                    <div class="title">Test</div>
                    <div class="article-content">r</div>
                </article>
                <article>
                    <div class="title">Test</div>
                    <div class="article-content">r</div>
                </article>
                <article>
                    <div class="title">Test</div>
                    <div class="article-content">rfdfd</div>
                </article>
                <article class="article-oneline">
                    <div class="title">Test 4</div>
                    <div class="article-content">r</div>
                </article>
                </div>
                
            </div>
        </div>
    </section>
    
</body>
</html>